*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif ;
}

.signupbox{/*signup .html form style*/
    width: 340px;
    height: 500px;
    background:rgb(74, 68, 76);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1;
   }

   .avatar2{
    width:100px;
    border-radius:55px ;
    border:thick solid rgb(112, 109, 109) ;
    position: absolute;
    top: -10%;
    left: calc(51% - 52px);
   }
  
   .sign{
    margin: 0;
    padding: 0 0 20px;
    text-align:center ;
    font-size: 30px;
    color: rgb(250, 247, 247);
    user-select: none;
   }
  
   .signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    user-select: none;
   }
   
   .signupbox input{
    width: 100%;
    margin-bottom:20px ;
   }
  
   .signupbox input[type="text"], input[type="password"]
   {
    border: none;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
    height: 40px;
    color: white;
    font-size: 16px;
    user-select: none;
   }
  
   .signupbox input[type="submit"]
   {
    border: none;
    outline:none;
    height: 40px;
    background: rgb(201, 33, 97);
    color: white;
    font-size: 20px;
    border-radius: 20px;
   }
  
   .signupbox inpute[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
   }
  
   .signupbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;

   }
  
   .signupbox a:hover{
    color:white;
   }
  
   .passwrdbox{
    width:1000px;
    height: 70px;
    color: #fff;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
   }

   .forg{
    margin: 0;
    padding: 0 0 20px;
    text-align:center ;
    font-size: 20px;
    color: #000;
   }
  
   .passwrdbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
   }

   /* konec*/
  

.navbar{
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
/* logo zgoraj levo NEXT GUMB */
#navbar__logo{
    background-color: coral;
    background-image: linear-gradient(to top,#441ce2 0%,#8f0c52 100%);/*barva se spreminja od zgoraj dol*/
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent ;
    -moz-text-fill-color:transparent ;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    user-select: none;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color:rgb(255, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{/*sing up gumb*/
    display: felx;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #ec1a60;
    color: white;
}

.button:hover{
    background: rgb(245, 6, 6);
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #ff0844;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
        
    }
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar__logo{
        padding-left: 25px;
        
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 3.0 ease-in-out;
        background: white;
    }
    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }
/*gumb zgoraj levo  next GUMB*/
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        user-select: none;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
/*rotacija hamburger ikone v x*/
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
   
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /*konec hamurgera*/
}

/*HERO  CSS*/
.main{
    background-color:#141414 ;
}
    
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;/* pomeni 50 50 med vrsticami*/
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 0%,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__container h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top,#b721ff 0%,#21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent; 
}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    user-select: none;
}

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top,#f77062 0%,#fe5106 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: rgb(255, 250, 250);
    text-decoration: none;
    user-select: none;
}

.main__btn:after{/*GEt started gumb spremeni barvo z valom*/
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: rgb(161, 9, 199);
transition: all 0.35s;
border-radius: 7px;
}

.main__btn:hover{
    color: white;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center;
    user-select: none;
}


#main__img{
    height: 80%;
    width: 80%;
    user-select: none;
}
/*konec edit jover gumba*/


/*responsive mobile*/
@media screen and (max-width:768px) {
    .main__container{
        display: grid;
        grid-template-columns:auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }  

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
     font-size: 2.5rem;
     margin-top: 2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

}


@media screen  and (max-width:480px){
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
       }
   
       .main__content h2{
           font-size: 2rem;
       }
   
       .main__content p{
           margin-top: 2rem;
           font-size: 1.5rem;
       }
    .main__btn{
        padding: 12px 36px;
        margin:2.5rem 0;
    }
   
}


/*services css*/
.services{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    user-select: none;
}

.services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0, #ff867a 0%, #ff8c7f 21%, #f99185 52%,#cf556c 78%,#b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.services__container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;/*Lastnost flex-wrap določa, ali naj se prilagodljivi elementi previjejo ali ne*/
}

.services__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0) 0%, rgba(17,17,17,0.6) 70%
    ), 
    url("images/pexels-the-masked-guy-6974258.jpg");/*zato da vido lahko text da ni slika pre svetla*/
    background-size: cover;
    position: relative;
    color: white;
}

.services__card:nth-child(2){
    background-image: linear-gradient(to bottom, rgb(0,0,0,0) 0%, rgba(17,17,17,0.6) 70%
    ), 
    url("images/pexels-harsch-shivam-2007647\ \(1\).jpg");/*zato da vido lahko text da ni slika pre svetla*/
}


.services h2{
    position: absolute;
    top:350px;
    left: 30px;
}

.services__card p{
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button{
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}


@media screen and(max-width:960px){
.services{
        height: 1600px;
    }
    
.services h1{
        height:2rem;
        margin-top: 13rem;
    }

    
}

@media screen and(max-width:480px){
    .services{
        height: 1400px;
    }
    
    .services h1{
        font-size: 1.2rem;
    }

    .services__card{
        width: 300px;
    }
}

/*noga strani css*/
.footer__container{
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;
}

.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    margin-bottom: 16px;
}

.footer__link--items > h2{
    color: white;
}

.footer__link--items a{
    color: white;
    text-decoration: none;
    margin-bottom: 00.5rem;
}

.footer__link--items a:hover{
    color: #e9e9e9;
    transition: 0.3s ease-out;
}


/*social media*/
.social__icon--link{
    color: white;
    font-size: 24px;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

social__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo{
    color: white;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__right{
color: white;
}

@media screen and (max-width:820px) {
    .footer__links{
        padding-top: 2rem;
    }

    #footer__logo{
        margin-bottom:2rem;
    }

    .website__right{
        margin-bottom: 2rem;
    }

    .footer__link--wrapper{
        flex-direction: column;
    }

    .social__media--wrap{
        flex-direction: column;
    }
    
}

@media screen  and(max-width:480px){
    .footer__link--items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
    
}


/*tech page service section*/
.services__card2{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0) 0%, rgba(17,17,17,0.6) 70%
    ), 
    url("images/pexels-karol-d-841228.jpg");/*zato da vido lahko text da ni slika pre svetla*/
    background-size: cover;
    position: relative;
    color: white;
}

.services__card2:nth-child(2){
    background-image: linear-gradient(to bottom, rgb(0,0,0,0) 0%, rgba(17,17,17,0.6) 70%
    ), 
    url("images/pexels-mateusz-dach-450035.jpg");/*zato da vido lahko text da ni slika pre svetla*/
}

.services__card2 p{
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card2 button{
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card2:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and(max-width:480px){
    .services__card2{
        width: 300px;
    
    
    }
}
